.header {
  box-shadow: blue 0px 2px 0px 0px, rgb(255, 255, 255) 0px 4px 0px 0px,
    #1fc11b 0px 6px, rgb(255, 255, 255) 0px 8px 0px 0px, #ffd913 0px 10px,
    rgb(255, 255, 255) 0px 12px 0px 0px, rgb(255, 156, 85) 0px 14px,
    rgb(255, 255, 255) 0px 16px 0px 0px, rgb(255, 85, 85) 0px 18px;
  padding: 20px 0;
  margin: 0 20px;
}

.menu {
  display: inline-block;
  width: calc(100vw - 90px);
}

.menu > ul {
  list-style: none;
  padding: 0;
  display: flex;
  grid-template-columns: repeat(3, 20px [col-start]);
  justify-content: flex-end;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
  
  transition: cubic-bezier(0,.53,1,.19) box-shadow 0.35s;

  &--ingredients {
    box-shadow: blue 0px 2px 0px 0px;
    &:hover {
      box-shadow: blue 0px 20px 0px 0px, blue 0px -10px 0px 0px;
    }
  }
  &--recipes {
    box-shadow: #1fc11b 0px 2px 0px 0px;
    &:hover {
      box-shadow: #1fc11b 0px 20px 0px 0px, #1fc11b 0px -10px 0px 0px;
    }
  }
  &--menus {
    box-shadow: #ffd913 0px 2px 0px 0px;
    &:hover {
      box-shadow: #ffd913 0px 20px 0px 0px, #ffd913 0px -10px 0px 0px;
    }
  }
}
