.table {
  width: 100%;
  border-spacing: 0;

  td,
  th {
    border-left: 8px solid #ffffff00;
  }

  tr > th:first-child,
  tr > td:first-child {
    border: 0px;
  }

  th {
    text-align: start;
  }

  td {
    padding-bottom: 3px;
  }

  tbody tr:hover {
    cursor: pointer;
    background-color: #f8f8f8;
  }

  > thead th,
  > thead td {
    &:nth-child(1) {
      span {
        display: inline-block;
        width: 100%;
        box-shadow: blue 0px 2px 0px 0px;
      }
    }
    &:nth-child(2) {
      span {
        display: inline-block;
        width: 100%;
        box-shadow: #1fc11b 0px 2px 0px 0px;
      }
    }
    &:nth-child(3) {
      span {
        display: inline-block;
        width: 100%;
        box-shadow: #ffd913 0px 2px 0px 0px;
      }
    }
    &:nth-child(4) {
      span {
        display: inline-block;
        width: 100%;
        box-shadow: #ff9c55 0px 2px 0px 0px;
      }
    }
    &:nth-child(5) {
      span {
        display: inline-block;
        width: 100%;
        box-shadow: #ff5555 0px 2px 0px 0px;
      }
    }
  }
}
