body {
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.7rem;
  font-family: monospace;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  padding-bottom: 0;
}
